.job-list-item {
  margin-top: 10px;
  border-bottom: 1px solid #eee;
}

.job-list-item .job-info {
  overflow: hidden;
}

.job-list-item .job-name {
  float: left;
}

.job-list-item .doc-count {
  float: right;
}
